
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
}
.App{
  display:flex;
  justify-content: center;

}
.Chess{
  width:280px;
  height:280px;
  display: flex;
  border: 10px solid black;
  flex-wrap: wrap;
}
.blocks:nth-child(odd){
  height: 20px;
  width:20px;
  background:black;
}
.blocks:nth-child(even){
  height: 20px;
  width:20px;
  background:white;
}